.contenedor{
    display: flex;
    flex: 1 100%;
    background-color: var(--color-morado);
    background-image: url('../../../public/graphic/mesa.svg');
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: bottom 50px right 100px;
    padding: 1rem;
    flex-wrap: wrap;
    padding: 3rem;
    /* From https://css.glass */
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    flex: 1 30%;
    max-width: 30rem;
    gap: 1rem;
    >h2{
        color: var(--color-malva);
    }

}

.contenedorOferta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    border-radius: 1rem;
    padding: 0.8rem;
    transition: all 0.3s ease;
    color: var(--color-morado);
    >h2{
        display: flex;
        flex: 1 100%;
        font-size: 12pt;
    };
}

.contenedorOferta:hover{
    transform: scale(1.2); /* Efecto de zoom al hacer hover */
    background-color: var(--color-crema);
}

.contenedorDetalleOferta{
    display: flex;
    margin-left: 3rem;
    
}

.contenedorSelect{
    display: none;
}

.atras{
    max-width: 3rem;
}


@media (width < 1080px) { 
    .contenedorSelect{
        display: flex;
        margin-bottom: 1rem;
    }

    .contenedorForm{
        height: fit-content;
        flex-direction: column;
        >h2{
            font-size: 11pt;
        }
    }

    .contenedorOferta{
        display: none;
    }

    .contenedorDetalleOferta{
        margin: 0;
    }

}