
.contenedorCV{
    display: flex;
    color: white;
    padding: 1rem 0rem;
    gap: 1rem;
    flex-direction: column;
}

.contenedorCV>div{
    display: flex;
    flex-direction: column;
}


.contenedorCV h2, .contenedorCV h3, .contenedorCV h4{
    color: var(--color-crema);
    text-transform: uppercase;
}

.contenedorCV .iconos{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.iconos svg {
    color: var(--color-malva);
    width: 1.5rem;
    height: 1.5rem;
}

.iconos svg:hover{
    color: var(--color-chicle);
}

.boxComments{
    border-bottom: 5px solid var(--color-malva);
    border-top: 5px solid var(--color-malva);
    padding: 0.5rem 0;

}

.contenedorCV .contentComment{
    color: var(--color-morado);
    background-color: var(--color-crema);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}



.contentComment>h4{
    color: var(--color-morado);
}

.contentComment textarea{
    display: flex;
    border: none;
    padding: 1rem;
    flex: 1;

}

.contenedorCV .about{
    padding: 1rem 0;
   
}

.contenedorCV>div:nth-child(2){
    display: flex;
    flex: 1;
    min-height: 80vh;
}

.contenedorCV embed{
    display: flex;
    flex: 1 100%;
}

.contenedorEditar{
    border-top: 5px solid var(--color-malva);
    padding: 1rem 0;
}

.cerrar{
    display: flex;
}

.cerrar>button{
    margin-left: 1rem;
    font-size: 10pt;
}

.deletePanel{
    background-color: #ffe6e6;
    border: 1px solid #ffcccc;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    color: #d9534f;
}

.deletePanel>p{
    display: flex;
    justify-content: center;
}

.deletePanel>button{
    margin: 0.3rem 0;
    flex: 0 100%;
    background-color: tomato;
    color: #fff;
}

.deletePanel>button:hover{
    background-color: var(--color-malva);
    color: var(--color-morado);
}

/*
*/

@media (min-width: 600px) {
    .contenedorCV{
        flex-direction: row;
    }

    .contenedorCV .about{
        max-width: 20rem;
    }
}