.contenedor{
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    border-radius: 1rem;
 
}


.contenedor>:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 0;
}

.contenedor>div>div{
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    flex-direction: column;
}

.contenedor>.contenedorForm{
    display: flex;
    justify-content: center;
    flex: 0;
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contenedorForm input, .contenedorForm label, .contenedorForm span, .contenedorForm select, .contenedorForm textarea{
    align-self: normal;
    flex: 1 100%;
}

.contenedorForm label{
    color: var(--color-morado);
}

.contenedorForm input, .contenedorForm select, .contenedorForm textarea{
    background-color: white;
    border: none;
    border-radius: 0;
    color: var(--color-morado);
    outline: none;
}

.contenedorForm input:disabled, .contenedorForm select:disabled, .contenedorForm textarea:disabled{
    border: none;
    background-color: white;
    color: var(--color-morado);
    padding: 0;
}

.contenedorForm:has(input:disabled) {
    background-color: white; /* Cambia el color de fondo del contenedor */
    border: 1px solid var(--color-morado); /* Cambia el borde del contenedor (opcional) */
    border-radius: 1rem;
}

.contenedorForm select{
    margin-bottom: 0.5rem;
}


.contenedorForm textarea{
    border:  solid var(--color-malva) 2px
}



.contenedor>div>div.botones{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
    >button{
        background-color: var(--color-morado);
        color: var(--color-malva);
        
    };
    >button:hover{
        background-color: var(--color-crema);
        color: var(--color-morado);
    }
}

.botones button, .botones>a{
    display: flex;
    flex: 1;
}


.botonBag{
    margin: 1rem 0;
}



@media (min-width: 600px) {

    
}