.contenedorLogin{
    display: flex;
    flex: 1 100%;
    background-image: url('../../../public/img/fondo_menuStart.jpg');
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    /* From https://css.glass */
}

.contenedorLogin>div{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    flex: 0;
    flex-wrap: wrap;
}

.contenedorLogin>div>div{
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
}

.contenedorLogin>.contenedorForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0;
    background-color: var(--color-malva);
    border-radius: 1rem;
    background: rgba(79, 82, 159, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    padding: 1rem;
    gap: 0.5rem;
}

.contenedorForm>button{
    margin-top: 1rem;
}

.contenedorForm input, .contenedorForm label, .contenedorForm span{
    display: flex;
    flex: 1 100%;
}

.contenedorForm .email{
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
    >input{
        flex: 1 100%;
    }
    >label{
        padding-left: 0.5rem;
        color: var(--color-malva);
        text-transform: lowercase;
        flex: 0;
    }
    }

.contenedorForm .cajabotones{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.contenedorForm .cajabotones>button, .cajabotones>a{
    flex: 1;
}

.cajabotones>a>button{
    width: 100%;
}