.contenedor{
    display: flex;
    flex: 1 100%;
    background-image: url('../../../public/img/fondo_menuStart.jpg');
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    flex-wrap: wrap;
    gap: 2rem;
    /* From https://css.glass */
}



.contenedorForm button{
    margin-top: 1rem;
}

.contenedor>:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    /* max-width: 20rem; */
    flex: 0;
    >img{
        max-width: 20rem;
    }
}

.contenedor>div>div{
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    padding: 0 1rem;
}

.contenedor>.contenedorForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 0;
    background-color: var(--color-malva);
    border-radius: 1rem;
    background: rgba(79, 82, 159, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    padding: 1rem 0;
}

.contenedorForm input, .contenedorForm label, .contenedorForm span, .contenedorForm select, .contenedorForm textarea{
    align-self: normal;
    flex: 1 100%;
}

.contenedorForm>.contenedorSelectionMultiple{
    display: flex;
    flex: 1 100%;
    gap: 2rem;
    background-color: var(--color-malva);
    padding: 1rem;
    color: var(--color-morado);
    margin-bottom: 0.5rem;
    flex-direction: column;
}

.contenedorForm>.contenedorSelectionMultiple select{
    /* flex:0 */
}

.contenedorForm>.contenedorSelectionMultiple>div{
    display: flex;
    flex-direction: column;
    flex: 1 45%;
}

.contenedorForm>.contenedorSelectionMultiple>div>ul>li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px;
}



.contenedorForm>.contenedorSelectionMultiple>div>ul>li>button{
    margin: 0;
    padding: 0 1rem;
    background-color: tomato;
    color: white;
}

.contenedorForm>.contenedorSelectionMultiple>div>label{
    color: var(--color-morado);
    flex:0
}

.contenedorForm>.contenedorSelectionMultiple>div>div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.contenedorForm>.contenedorSelectionMultiple>div>div>button{
    background-color: var(--color-morado);
    color: var(--color-malva);
    flex:1;
}

.contenedorForm>.contenedorSelectionMultiple>div>div>button:hover{
    background-color: var(--color-crema);
    color: var(--color-morado);
}



.contenedorForm>.contenedorSelectionMultiple>div>div>span{
    flex:1 100%;
}

.botones{
    display: flex;
    flex-direction: column;

}

.botones button, .botones>a{
    display: flex;
    flex: 1;
}

.tituloOferta{
    flex: 1 100%;
    background-color: var(--color-crema);
    padding: 1rem;
    color: var(--color-morado);
    margin: 1rem;
    border-radius: 1rem;
}

.contenedor> div > div.terminos{
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
}

.contenedor> div > div.terminos>label{
    color: white;
    flex: auto;
    font-size: 7pt;
}

.contenedor> div > div.terminos>input{
    flex: 0;
    margin-right: 1rem;
}

.contenedor> div > div.terminos>span{
    flex: 1 100%;
}

.contendorEditar{
    background-image: none;
    padding: 0;
}

.contendorEditar>.contenedorForm{
    background: none;
    padding: 0;
    border: none;
    box-shadow: none;
}

.conditions{
    font-size: 7pt;
    color: white;
    font-style: italic;
}

.contenedor .fostered{
    padding-bottom: 1rem;
}

.contenedor .fostered>div>div>label{
    padding: 0 1rem;
}

@media (min-width: 600px) {
    .contenedor>.contenedorForm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 700px;
        align-items: flex-start;

    }

    .contenedorForm>.contenedorSelectionMultiple{
        flex-direction: row;
    }

    .contenedor>div>div{
        flex: 1 40%;
        padding: 0 1rem;
    }

    .contenedor>div>div.inputGrande{
        flex: 1 100%;
        color: white;
        display: flex;
    }

    .contenedor>div>div.inputGrande>input{
        flex:0 10%;
    }

    .contenedor>div>div.inputGrande>p{
        flex:0 90%;
    }

    input[type="file"] {
        max-width: auto;
      }

    .contenedor>.menu{
        height: 20rem;
        padding: 0;
    }

    .botones{
        flex-direction: row;
        gap: 2rem;
    }

    
    
}