.header{
    display: flex;
    padding: 2rem 4rem 1rem 4rem;
    justify-content: center;
    flex: 0 auto;
    background-color: var(--color-morado);
    flex-wrap: wrap;
}

.header>div{
    display: flex;
    flex: 1 50%;
}

.header>div:nth-child(1){
    max-width: 10rem;
}

.header>:nth-child(1){
    justify-content: flex-start;
}

.header>:nth-child(2){
    justify-content: end;
}

.header>.menuHeader{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    border-top: 3px solid var(--color-malva);
    border-bottom: 3px solid var(--color-malva);

}

.header>.menuHeader>ul{
    display: flex;
    gap: 1rem;
}

.header>.menuHeader>ul>li{
    padding: 0.5rem;
    color: var(--color-malva);
    text-transform: uppercase;
    font-weight: 900;
}

.header>.menuHeader>ul>li:hover{
    background-color: var(--color-crema);
    color: var(--color-morado);
}

.contenedorLogotipo {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.contenedorLogotipo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.contenedorIconos{
    align-items: center;
    gap: 3rem;
}


.contenedorIconos svg{
    color: var(--color-crema);
    width: 1.5rem;
    height: 1.5rem;
}

.contenedorIconos > span:hover>svg {
    color: tomato;
  }