.contenedor{
    display: flex;
    background-color: var(--color-malva);
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    border-radius: 1rem;
    
}

.cajaperiodo select:disabled, .cajaperiodo input:disabled{
    background-color: transparent;
}

.cajaperiodo select, .cajaperiodo input{
    background-color: rgb(236, 236, 236);
    
}

.cajaperiodo>.periodo input, .cajaperiodo>.periodo select{
    font-weight: bold;
}

.contenedor>h2{
    display: flex;
    flex: 1 100%;
    border-bottom: 3px solid var(--color-morado);
    gap: 1rem;
    padding-bottom: 0.5rem;
    align-items: center;
}

.contenedor>h2>svg{
    width: 1.5rem;
    height: 1.5rem;
}

.contenedor div{
    display: flex;
    justify-content: end;
}


.contenedor svg{
    width: 1.5rem;
    height: 1.5rem;
}

.listaperiodos{
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
    gap: 1rem;
}

.cajaperiodo, .cajaperiodoCabecera, .cajaperiodoNuevoCabecera, .cajaperiodoNuevoCabeceraLeaves{
    display: flex;
    flex: 1 100%;
    padding: 1rem;
    background-color: white;
    border: 1px solid var(--color-morado);
    border-radius: 1rem;
    flex-direction: column;
}

.cajaperiodoCabecera,  .cajaperiodoNuevoCabecera{
    background-color: var(--color-morado);
    color: white;
    border: none;
}

.periodo, .leaves{
    display: flex;
    flex: 1 100%;

}

.fechainicio, .fechafin, .jornada, .dispositivo{
    display: flex;
    flex: 0 8rem;
    padding:0 0.5rem;
    border-right: 1px solid var(--color-malva);

    flex-direction: column;
    >label{
        font-size: 8pt;
    }
}

.dispositivo{
    flex: 0 15rem;
}

.posicion{
    display: flex;
    flex: 1;
    padding-left: 0.5rem;
    flex-direction: column;
    >label{
        font-size: 8pt;
    }
}

.cajaleaveCabecera{
    background-color: var(--color-chicle);
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    color: white;
}

.leaves{
    margin: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    background-color: var(--color-rosa-palo);
}

.leave{
    padding: 1rem;
}

.iconos{
    display: flex;
    gap: 0.5rem;
    color: var(--color-morado);
}

.iconos>:nth-child(3){
    color: tomato;
}

.buttonsContainer{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.errorsContainer{
    display: flex;
    flex-direction: column;
}
.cajaperiodoNuevoCabeceraLeaves{
    background-color: var(--color-chicle);
    color: white;
    border: none;
}
.cajaperiodoNuevoCabecera, .cajaperiodoNuevoCabeceraLeaves{
    border:none
}

.cajaperiodoNuevoCabecera>h3, .cajaperiodoNuevoCabeceraLeaves>h3{
    padding: 0 0 1rem 0.5rem;
    text-transform: uppercase;
}

.cajaperiodoNuevoCabecera>.cajaperiodo{
    background-color: var(--color-morado);
    padding: 0;
}

.cajaperiodoNuevoCabeceraLeaves>.cajaperiodo{
    background-color: var(--color-chicle);
    padding: 0;
    border: none;
}


.cajaperiodoNuevoCabecera>.cajaperiodoCabecera, .cajaperiodoNuevoCabeceraLeaves>.cajaperiodoCabecera{
    border:none;

}

.cajaperiodoNuevoCabecera>.cajaperiodoCabecera>.periodo>div, .cajaperiodoNuevoCabeceraLeaves>.cajaperiodoCabecera>.periodo>div{
    border:none;

}

.excedencia{
    flex: 1;
    flex-wrap: wrap;
    padding: 0 0.5rem;
    >label{
        flex: 1 100%;
    }
    
}