.contenedor{
    display: flex;
    background-color: var(--color-malva);
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;

    
}

.contenedor>h2{
    display: flex;
    flex: 1 100%;
    border-bottom: 3px solid var(--color-morado);
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.contenedor>h2>button{
    font-size: 10pt;
}

.contenedor div{
        display: flex;
        flex-direction: column;
        flex: 1 100%;
    }

.contenedor div input:disabled{
    background-color: transparent;
    padding: 0;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.contenedor div select:disabled{
    background-color: transparent;
    padding: 0;
    font-weight: 600;
    padding-bottom: 0.5rem;
}


.contenedor button{
    background-color: var(--color-morado);
    color: var(--color-malva);
    flex: 0;
    width: fit-content;
}

.contenedor button:hover{
    color: var(--color-morado)
}

.contenedor>div>select.consetmentDataProtection{
    all: unset;
    flex:0;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    font-size: 9pt;
}

.contenedor>div>select.consetmentDataProtection:disabled{
    background-color: transparent;
    padding: 0;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.contenedor div.studiesContainer{
    display: flex;
    flex: 30% 0;
    flex-direction: column;
    font-size: 9pt;
    font-weight: 600;
    >div{
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0;
    }
    .studiesList{
        flex-direction: column;
        padding-right:1rem;
        >div{
            display: flex;
            justify-content: space-between;
            flex-direction:row;
        }
    }
    .addStudy{
        display: flex;
        padding-right: 1rem;
        >select{
            flex: 1rem;
        }
        >svg{
            margin-left: 1rem;
            width: 2rem;
            height: 2rem;
        }
    }
    
}

@media(width>1000px){
    .contenedor{
        border-radius: 1rem;
    }
    .contenedor div{
        flex: 30%;
    }

}

