.contenedor {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
    background-color: var(--color-morado);
    gap: 1rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    color: var(--color-morado);

}

.contendor select {
    flex: 0;
    max-width: auto;
    width: 100%;
}

.containerEmployer {
    display: flex;
    flex: 100%;
    align-items: center;
    >div:nth-child(1) {
        flex: 1;
    }
    >:nth-child(2) {
        width: 2rem;
    }
}

.titulo {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

}

.titulo h2 {
    padding: 0.5rem 2rem 0 1rem;
    border-left: 10px solid var(--color-morado);
    display: flex;
    flex: 1;
}

.titulo svg {
    width: 3rem;
    height: 3rem;
    justify-content: end;
    align-self: flex-end;
}

.titulo div {
    display: flex;
}

.paginacion select {
    flex: 0 2rem;
}

.caja {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cajaSeleccion {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-malva);
    padding: 2rem;
    border-radius: 1rem;
}

.cajaSeleccion select {
    border: solid 1px var(--color-morado);
    border-radius: 0.5rem;
}

.cajaSeleccionActiva {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-end;
}

.cajaSeleccionActiva select {
    border: 1px solid white;
    background-color: var(--color-chicle);
    color: white;
    font-weight: bold;
    width: fit-content;
    text-align: center;
}

.paginacion {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
    flex-direction: column;
}

.paginacion>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paginacion label {
    color: var(--color-morado);
    display: flex;
    align-self: auto;
}

.containerTableContainer {
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    font-size: 12pt;
}

.tableContainer {
    color: var(--color-morado);
    flex: 1;
    border: 1px solid var(--color-morado);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem 0;
    transition: all 0.3s ease;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.tableContainer:hover {
    transform: scale(1.02);
    background-color: var(--color-malva);
    border: none;
}

.contenedorfiltro {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    align-items: flex-end;
    flex: 1 100%;
}

.contenedorfiltro h3 {
    flex: 1 100%;
}

.contenedorfiltro button {
    color: var(--color-yema);
    background-color: var(--color-morado);
}

.contenedorfiltro button:hover {
    background-color: var(--color-yema);
    color: var(--color-morado);
}

.contenedorfiltro div {
    display: flex;
    flex-direction: column;

}

.cajaIconosFiltro {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.cajaIconosFiltro svg {
    width: 2rem;
    height: 2rem;
    color: var(--color-morado);
}

#cabeceraTabla {
    font-weight: bold;
    background-color: var(--color-morado);
    color: white;
    transition: none;
}

#cabeceraTabla:hover {
    transform: none;
}

.contenedor>.contenido>select.selectInicial {
    margin-top: 1rem;
    border: solid 1px var(--color-morado);
    flex: initial;
    appearance: auto;
}

.contenedorEmployer{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0;
}


@media (min-width: 1080px) {

    .contenedor {
        padding: 0 4rem;
    }

    .contendor select {
        flex: 1;
        width: 100%;
        max-width: 100%;
    }

    .titulo {
        flex-direction: row;

    }

    .tableContainer {
        flex-direction: row;
    }

    .tableCell {
        display: flex;
        flex: 0 20rem;
    }

    .tableCellStatus {
        flex: 1;
        text-align: right;
    }

    .paginacion {

        flex-direction: row;

    }
}