.contenedor {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
    background-color: var(--color-morado);
    gap: 1rem;
    padding: 0 4rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    color: var(--color-morado);
    gap: 1rem;

}

.titulo {
    display: flex;
    flex-direction: column;

}

.titulo>div>h2 {
    padding: 0.5rem 2rem 0 1rem;
    border-left: 10px solid var(--color-morado);
    display: flex;
    flex: 1;
}

.seleccionado{
    background-color: var(--color-info);
}

.cajaBotones{
    display: flex;
    gap: 1rem;
}