.contenedor {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
    background-color: var(--color-morado);
    gap: 1rem;
    padding: 0 4rem 2rem 4rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    flex-wrap: wrap;
    color: var(--color-morado);
    padding-bottom: 1rem;
}

.cajaDispositivos{
    display: flex;
    background-color: var(--color-malva);
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    border-radius: 1rem;
    >h2{
        display: flex;
        flex: 1 100%;
        border-bottom: 3px solid var(--color-morado);
        gap: 1rem;
        padding-bottom: 0.5rem;
        align-items: center;
    }
    >div{
        flex: 0 0 200px;
        background-color: white;
        color: var(--color-morado);
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        border-top: solid 2rem var(--color-morado);
        
        >h5{            
            color: white;
            text-align: center;
            text-transform: uppercase;
            margin-top:-2.5rem;
            margin-bottom:0.8rem
        }
        .deviceItem{
            background-color: var(--color-malva);
            padding: 0.5rem;
            border-radius: 1rem;
            color: var(--color-morado);
            text-align: center;
        }
        .deviceItem:hover{
            background-color: var(--color-morado);
            color: white;
           
        }
    }
}


.titulo {
    display: flex;
    padding: 2rem;

}

.titulo>h2 {
    padding: 0.5rem 2rem 0 1rem;
    border-left: 10px solid var(--color-morado);
    display: flex;
    flex: 1;
    align-items: center;
    gap: 1rem;
}

.titulo>svg {
    width: 3rem;
    height: 3rem;
    justify-content: end;
    align-self: flex-end;
}

.titulo>div {
    display: flex;
}

.programItem{
    display: flex;
    flex: 1 100%;
    padding: 0.3rem 1rem;
}

.contenedorProgram{
    display: flex;
    flex-wrap: wrap;
}

.areaGroup{
    display: flex;
    flex: 1 100%;
}

.desarrollo_comunitario, 
.igualdad,.infancia_y_juventud,
.lgtbiq,
.mayores,
.no_identificado,
.personas_con_discapacidad{
    display: flex;
    flex: 100% 1;
    padding: 1rem 10%;

    >h3{
      flex: 20rem;  
      font-weight: 900;
    };
    >:nth-child(2){
        display: flex;
        flex: 1 100%;
        flex-direction: column;
    }
}

.desarrollo_comunitario{
    background-color: var(--color-naranja);
    color: white;
}
.igualdad{
    background-color: var(--color-morado);
    color: white;

}
.infancia_y_juventud{
    background-color: var(--color-malva);
    color: white;
}
.lgtbiq{
    background-color: var(--color-chicle);
    color: white;
}
.mayores{
    background-color: var(--color-verde-hoja);
    color: white;
}

.personas_con_discapacidad{
    background-color: var(--color-yema);
    color: white;
}

.programInfoContainer{
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
    
}

.programDetailInfo{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    >div{
        display: flex;
        gap: 0.8rem;
    }
    >div span{
        margin-right: 0.5rem;
    }

}

.titulines{
    color: white;
    font-weight: 900;
}

.containerInfo{
    display: flex;
    background-color: var(--color-malva);
    padding: 1rem;
    flex-wrap: wrap;
    gap: 1rem 0.5rem;
    border-radius: 1rem;
    >h2{
        display: flex;
  flex: 1 100%;
  border-bottom: 3px solid var(--color-morado);
  gap: 1rem;
  padding-bottom: 0.5rem;
    }
}

.cronologyContenedor{
    display: flex;
    flex-direction: column;
}

.cronologyItem{
    margin-top: 0.5rem;
    display: flex;
    background-color: white;
    border-radius: 1rem;
    padding: 0.8rem;
    >div{
        display: flex;
        gap: 0.5rem;
    }
    >div:nth-child(2){
    justify-content: end;
    flex: 1;
    }
}
@media (min-width: 600px) {
    .programDetailInfo {
        flex-direction: row;
        flex: 1 100%;
        >div{
            display: flex;
            flex: 1 50%;
            flex-direction: column;
        }
    }

}
