.contenedor{
    display: flex;
    flex-direction: row;
    flex: 1 100% ;
    background-color: var(--color-morado);
    padding: 0 4rem;
    gap: 1rem;
}

.contenedor>div.contenido{
    flex-direction: column;
    display: flex;
    flex: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    flex-wrap: wrap;
    color: var(--color-morado);
    >div.titulo{
        display: flex;
        padding-bottom: 2rem;
        >h2{
            padding: 0.5rem 2rem 0 1rem;
            border-left: 10px solid var(--color-morado);
            display: flex;
    
        }
        >svg{
            width: 3rem;
            height: 3rem;
            justify-content: end;
            align-self: self-end;
        };
    };
    >div.caja{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3%;
    }
}

.paginacion{
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 0.5rem;
    align-items: center;
    >label{
        color: var(--color-morado);
        display: flex;
        align-self: auto;
    }
}

.containerTableContainer{
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    font-size: 12pt;
}


.tableContainer{
    color: var(--color-morado);
    flex: 1;
    border: 1px solid var(--color-morado);
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem 0;
    transition: all 0.3s ease;
    display: grid;
    align-items: center;
        grid-template-columns: 8rem 1fr 1fr 12rem 9rem 15rem;
        grid-auto-rows: minmax(auto, 2rem); /* Definimos el tamaño de las filas */
        gap: 0.5em 0px;
}

.tableContainer:hover{
    transform: scale(1.02); /* Efecto de zoom al hacer hover */
    background-color: var(--color-malva);
    border: none;
}


.contenedorfiltro{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    align-items: end;
    flex: 1 100%;
}

.contenedorfiltro>h3{
    flex: 1 100%;
}

.contenedorfiltro button{
    color: var(--color-yema);
    background-color: var(--color-morado);
}

.contenedorfiltro button:hover{
    background-color: var(--color-yema);
    color: var(--color-morado);
}

.contenedorfiltro>div{
    display: flex;
    flex-direction: column;
    flex: 1 8rem;
}

.contenedorfiltro > div.cajaIconosFiltro{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.contenedorfiltro > div.cajaIconosFiltro>div>span>svg{
    width: 2rem;
    height: 2rem;
    color: var(--color-morado);
}

#cabeceraTabla{
    font-weight: bold;
    background-color: var(--color-morado);
    color: white;
    transition: none;
}


#cabeceraTabla:hover{
    scale: none;
}
