/* Estilos base para móviles */
.contenedor{
    display: flex;
    flex-direction: column;
    background-color: var(--color-morado);
    flex: 1 100%;
    padding: 1rem;
    color: var(--color-malva);
    gap: 1rem;
}

.contenedor h2{
    color: var(--color-yema);
    text-transform: uppercase;
}

.paginacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.paginacion > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    >label{
        display: none;
    }
    >button{
        display: flex;
        flex: 0;
    }
}

.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--color-morado);
}

.tableContainer>:nth-child(1){
    display: none;
}

.tableRow {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.selected{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--color-verde-hoja);
    color: white;
}

.rejected{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: tomato;
    color: white;
}

.favorite{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(255, 206, 71);
    color: var(--color-morado);
}

.tableRow:hover{
    background-color: var(--color-malva);
}

.tableContainer > :nth-child(1):hover{
    background-color: white;
}

.header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tableCell {
    display: flex;
    flex: 1 1 100%;
    min-width: 5rem;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    font-size: 10pt;
}

.tableCell:last-child {
    border-bottom: none;
}



.capitalize{
    text-transform: capitalize;
}

.tableCell>.capitalize{
    text-transform: capitalize;
    display: inline;
}

.contenedorfiltro{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    align-items: flex-end;
}

.contenedorfiltro > h3{
    flex: 1 100%;
    color: var(--color-morado);
}

.contenedorfiltro button{
    color: var(--color-yema);
    background-color: var(--color-morado);
}

.contenedorfiltro button:hover{
    background-color: var(--color-yema);
    color: var(--color-morado);
}

.contenedorfiltro > div{
    display: flex;
    flex-direction: column;
    flex: 1 8rem;
}

.contenedorfiltro > div.cajaIconosFiltro{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.contenedorfiltro > div.cajaIconosFiltro > div > span > svg{
    width: 2rem;
    height: 2rem;
    color: var(--color-morado);
}

.cajaOfertas{
    padding: 1rem;
    border: solid 1px var(--color-malva);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.cajaOfertas>.tituloProcesoActivo{
    text-align: center;
    font-size: 14pt;
    color: var(--color-crema);
}
.cajaOfertas>.cajaOfertasBotones{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.cajaOfertas>.cvAddBolsa{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.iconworkedInEngloba{
    padding-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    color: var(--color-morado);
    margin: 0 0 -2px 0;
}

/* Estilos para pantallas más grandes */
@media (min-width: 1080px) {
    .contenedor{
        padding: 1rem 4rem;
    }

    .paginacion{
        flex-direction: row;
        >div{
            flex-wrap: nowrap;
            >label{
                display: flex;
            }  
        }
    }

    .tableContainer>:nth-child(1){
        display: flex;
    }

    .tableCell {
        flex: 1;
        border-right: 1px solid #ddd;
        border-bottom: none;
    }

    .tableCell:nth-child(2) {
        word-break: break-all;
    }

    .tableCell:nth-child(3) {
        max-width: 5rem;
        min-width: 5rem;
    }

    .tableCell:nth-child(5) {
        max-width: 7rem;
        min-width: 7rem;
    }

    .tableCell:nth-child(6) {
        max-width: 9rem;
        min-width: 5rem;
    }

    .tableCell:nth-child(7),
    .tableCell:nth-child(8) {
        max-width: 1rem;
        min-width: 1rem;
    }

    .tableCell:nth-child(9),
    .tableCell:nth-child(10) {
        max-width: 5rem;
        min-width: 5rem;
        display: flex;
        justify-content:center;

        gap: 0.5rem;
    }

    .tableCell:last-child {
        border-right: none;
    }
}
