.contenedor{
    display: flex;
    background-color: var(--color-morado);
    flex: 1 100%;
    padding: 1rem 4rem;
    flex-direction: column;
    color: var(--color-malva);
    gap: 1rem;
}

.contenedor h2{
    color: var(--color-yema);
    text-transform: uppercase;

}

.paginacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.paginacion>div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contenedorfiltro{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    align-items: end;
}

.contenedorfiltro>h3{
    flex: 1 100%;
}

.contenedorfiltro button{
    color: var(--color-yema);
    background-color: var(--color-morado);
}

.contenedorfiltro button:hover{
    background-color: var(--color-yema);
    color: var(--color-morado);
}

.contenedorfiltro>div{
    display: flex;
    flex-direction: column;
    flex: 1 8rem;
}


.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    color: var(--color-morado);
}


.tableRow {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
}

.tableRow:hover{
    background-color: var(--color-malva);
}

.tableContainer>:nth-child(1):hover{
    background-color: white;
}

.header {
    background-color: #f4f4f4;
    font-weight: bold;
}

.tableCell {
    flex: 1;
    min-width: 5rem;
    padding: 0.5rem;
    border-right: 1px solid #ddd;
    font-size: 10pt;
}

.tableCell:nth-child(3) {
    max-width: 5rem;
    min-width: 5rem;
}

.tableCell:nth-child(6) {
    max-width: 5rem;
    min-width: 5rem;
}

.tableCell:nth-child(7) {
    max-width: 6rem;
    min-width: 6rem;
}

.tableCell:last-child {
    border-right: none;
}

#tituloProcesoActivo{
    text-align: center;
    font-size: 30pt;
    background-color: var(--color-crema);
    color: var(--color-morado);
    padding: 1rem;
    border-radius: 0.5rem;
}

.capitalize{
    text-transform: capitalize;
}

@media (max-width: 1080px) {
    .tableCell {
        flex: 1 1 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
    
    .tableCell:last-child {
        border-bottom: none;
    }
}
