.contenedor{
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    background-image: url('../../../public/img/fondo_menuStart.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */

}

.contenedor div{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    flex: 0;
    flex-wrap: wrap;
}

.contenedor>.menu{
    background-color: var(--color-malva);
    height: auto;
    border-radius: 1rem;
    background: rgba(79, 82, 159, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    padding: 1rem;
    gap: 1rem;
}


.menu p{
    text-transform: uppercase;
}

.menu button, .menu a{
    display: flex;
    flex: 1 100%;
    justify-content: center;
}

#contenedorWorkerMenu>div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#contenedorWorkerMenu h2{
    color: var(--color-malva);
}

#contenedorWorkerMenu>div>button{
    flex: 1 100%;
    width: 100%;
}

@media (min-width: 600px) {
    .contenedor div{
        flex: 50%;
    }
    .contenedor>.menu{
        width: auto;

    }
    .contenedor{
        flex-direction: row;
    }

    
    
}