.ventana{
  display: flex;
  position: fixed;
  background-color: rgba(79, 82, 161, 0.643);
  min-width: 100vw;
  min-height: 100vh;
  z-index: 10000000000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor{
  display: flex;
  justify-content: center;
  background-color: white;
  flex:0;
  max-width: 30rem;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 1rem;
  color: var(--color-morado);
}

.contenedor h2{
  text-transform: uppercase;
  border-bottom: 4px solid var(--color-malva);
  width: 100%;
}

.contenedor p {
  color: var(--color-morado);
}

.contenedor button{
  width: fit-content;
  align-self: center;
}

