.modalVentana {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(79, 82, 161, 0.643);
  z-index: 100000000;
  justify-content: center;
  align-items: center;
}

.modalContenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 30rem; /* Ajusta según sea necesario */
  width: 90%;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: var(--color-morado);
  gap: 1;

  /* Clave para scroll: límite de altura + solo scroll vertical */
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden; /* Así evitas el scroll horizontal */
}

.modalVentana .modalContenedor h3.modalTitle {
  text-transform: uppercase;
  border-bottom: 4px solid var(--color-malva);
  width: 100%;
  text-align: center;
  font-size: 1.5rem; /* EJEMPLO: Ajusta según desees */
  color: var(--color-morado); /* tu color principal */

}


.modalContenedor p {
  color: var(--color-morado);
  text-align: center;
  padding: 0.5rem;
}

/* GRUPOS DE INPUT */
.modalInputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

}

/* BOTONES */
.modalActions, .modalActionsOnly {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.modalActionsOnly{
  justify-content: center;
}

.modalActionsOnly>button{
  background-color: tomato;
}

/* ARCHIVOS (file input) */
.modalFileInputWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
}

.modalHiddenInput {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.modalFileButton {
  display: inline-block;
  background: var(--color-crema);
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  user-select: none;
}

.modalFileButton:hover {
  background: var(--color-yema);
}

.modalFileName {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 0.875rem;
  color: #555;
}

.modalVentana .modalContenedor label{
  color: var(--color-morado);
}

.modalVentana .modalContenedor input{
  border-radius: 0;
  padding: 0.25rem;
  border-bottom: solid 1px var(--color-malva);
}

.modalVentana .modalContenedor select{
  padding: 0.25rem;
  border: solid 1px var(--color-malva);
}

.modalVentana .modalContenedor input:focus {
  outline: none;
}

.modalVentana .modalContenedor p.modalError{
  padding-top: 0.25rem;
  color: tomato;
  font-size: 8pt;
  font-style: italic;
}

.modalVentana h4{
  padding-top: 1.5rem;
  margin-bottom: 1rem;
}

.modalVentana button{
  margin-top: 1rem;
}