.contenedor{
    display: flex;
    flex: 1 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--color-morado);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor > div{
    max-width: 40rem;
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor h2{
    text-transform: uppercase;
    color: var(--color-malva);
    font-size: 30pt;
}