.contenedorOferta{
    display: flex;
    max-width: 600px;
    padding: 1rem;
    color: white;
    flex-wrap: wrap;
    border: solid 2px var(--color-malva);
    border-radius: 2rem;
    background-color: var(--color-morado);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 
                        0 6px 6px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

.contenedorOferta>h2{
    flex: 1 100%;
    border-bottom: solid 1px var(--color-crema);
    padding-bottom: 1rem;
    text-align: center;
}

.contenedorOferta>.campo{
    display: flex;
    flex: 1 100%;
    flex-direction: column;
    padding: 0.8rem 0;
}

.contenedorOferta>.campo>h3{
    font-size: 12pt;
    color: var(--color-malva);
}

.contenedorOferta>.campo>p{
    font-size: 11pt;
}

.contenedorBotones{
    display: flex;
    flex: 1 100%;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.contenedorOferta>.campo>p.conditions{
    font-weight: 400;
}

.ofertaSeleccionada{
    background-color: var(--color-crema);
}

.contenedorIconos{
    display: flex;
    background-color: var(--color-malva);
    padding: 1rem;
    border-radius: 1rem;
    flex: 1 100%;
    justify-content: space-around;
    height: fit-content;
    color: var(--color-morado);
    margin: 1rem 0;
    >div{
        display: flex;
        font-size: 9pt;
        font-weight: bold;
        height: fit-content;
        gap: 5px;
        >svg{
            width: 2rem;
            height: 2rem;
        }
    }
}

@media (width < 700px){
    .contenedorIconos{
        flex-direction: column;
        gap: 0.5rem;
    }
}