.contenedor {
    display: flex;
    flex-direction: row;
    flex: 1 100%;
    background-color: var(--color-morado);
    gap: 1rem;
    padding: 0 4rem 2rem 4rem;
}

.contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    border-radius: 1rem;
    flex-wrap: wrap;
    color: var(--color-morado);
    padding: 1rem;
}


.titulo {
    display: flex;
    padding: 2rem;

}

.titulo>h2 {
    padding: 0.5rem 2rem 0 1rem;
    border-left: 10px solid var(--color-morado);
    display: flex;
    flex: 1;
}
