.contenedor{
    display: flex;
    background-color: var(--color-morado);
    flex-direction: column;
    gap: 1rem;
    flex: 1 100%;
    padding: 0 4rem;
}

.contenedor>h2{
    color: var(--color-crema);
}



.contenedor>div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-malva);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
}

div.menuOpciones{
    display: flex;
    justify-content: center;
    gap: 1rem;
    border-radius: 0;
    border: none;
    border-top: solid 2px var(--color-malva);
    border-bottom: solid 2px var(--color-malva);
    padding: 1rem;
    background: none;   
}

div.menuOpciones>button{
    background-color: var(--color-morado);
    color: var(--color-malva);   
}

.contenedor>div>label{
    flex: 1 100%;
    justify-content: center;
    color: var(--color-morado);
    text-align: center;
    font-size: 30pt;
}

.contenedor>div>select{
    flex: 0;
    height: 3rem;
}

.contenedorCrearPrograma{
    display: flex;
    flex-direction: column;
}