.contenedorOferta{
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1 100%;
    gap: 0.5rem;
}


.contenedorOferta>.oferta{
    background-color: var(--color-malva);
    color: var(--color-morado);
    display: flex;
    justify-content: space-between;
    flex: 1 100%;
    min-width: 20rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
}

.contenedorOferta>.oferta>div{
    display: flex;
    flex-wrap: wrap;
    flex: 1 100%;
    gap: 0.3rem;
    >p{
        display: flex;
        flex: 1 100%;
    };
    >h3{
        display: flex;
        flex: 1 100%;
    }
    >div{
        display: flex;
        flex: 1 100%;
        align-items: center;
        >div{
            background-color: var(--color-morado);
            color: white;
            padding: 0.5rem;
            border-radius: 0.5rem;
            margin-right: 1rem;
        }
    }

}


.contenedorOferta>.oferta:hover{
    background-color: var(--color-crema);
}