:root{
  --color-morado: #4f529f;
  --color-malva:#bec3f4;
  --color-chicle:#e08fa7;
  --color-verde-hoja:#94aa51;
  --color-yema:#f5b136;
  --color-naranja:#f3853a;
  --color-rosa-palo:#eddcf2;
  --color-crema:#f5dc98;
}

#root{
display: flex;
flex-direction: column;
flex: 1 100%;
}


@font-face {
  font-family: 'titulo1';
  src: url('./styles/fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 42pt;
}

@font-face {
  font-family: 'subtitulo1';
  src: url('./styles/fonts/Gabarito-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 36pt;
}

@font-face {
  font-family: 'titulo2';
  src: url('./styles/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-size: 31.5pt;
}

@font-face {
  font-family: 'subtitulo2';
  src: url('./styles/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 24pt;
}

@font-face {
  font-family: 'encabezadoSeccion';
  src: url('./styles/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 20pt;
}

@font-face {
  font-family: 'texto';
  src: url('./styles/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-size: 16pt;
}

@font-face {
  font-family: 'cita';
  src: url('./styles/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-size: 16pt;
}

@font-face {
  font-family: 'pieFoto';
  src: url('./styles/fonts/InterTight-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-size: 14pt;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'texto';
  border-collapse: collapse;
}

body{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;

  background-color: var(--color-malva);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--color-morado);
  font-family: 'titulo1' ;
  font-weight: 900;
  letter-spacing: 2px;
  width: 20rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button:hover{
  background-color: var(--color-crema);
}

a{
  color: var(--color-yema);
}
a:hover{
  color: var(--color-chicle);
}

label{
  text-align: left;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10pt;
  align-self: flex-start;
}

input, select{
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--color-morado);
  font-family: 'titulo1';
}

input[type="file"] {
  max-width: 10rem;
}

textarea{
  width: auto;
  height: auto;
}

.errorSpan{
  color: tomato;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0.5rem 0;
}