:root{
  --color-morado: #4f529f;
  --color-malva:#bec3f4;
  --color-chicle:#e08fa7;
  --color-verde-hoja:#94aa51;
  --color-yema:#f5b136;
  --color-naranja:#f3853a;
  --color-rosa-palo:#eddcf2;
  --color-crema:#f5dc98;
}

#root{
display: flex;
flex-direction: column;
flex: 1 100%;
}



*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-collapse: collapse;
}

body{
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

button, input::file-selector-button{
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;

  background-color: var(--color-malva);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--color-morado);
  font-weight: 900;
  text-transform: uppercase;

  display: flex;
  justify-content: center;
  align-items: center;
}

input::file-selector-button{
  width: 100%;
}

input[type='file']{
  background: none;
  padding: 0;
  color: var(--color-chicle);
}

button:hover{
  background-color: var(--color-crema);
}

a{
  color: var(--color-yema);
}
a:hover{
  color: var(--color-chicle);
}

label{
  text-align: left;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10pt;
  align-self: flex-start;
}

input, select{
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  color: var(--color-morado);
}


textarea{
  width: auto;
  height: auto;
  min-height: 10rem;
}

.errorSpan{
  color: tomato;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 0.5rem 0;
}

.green{
  background-color: var(--color-verde-hoja);
  color: white;
}

.tomato{
  background-color: tomato;
  color: white;
}

.crema{
  background-color: var(--color-crema);
}

.iconTomato{
  color: tomato;
}